body {
    background-color: #d4e3f1 !important;
}

.panel-heading{
   min-height: 60px;
}

.panel-heading-dash{
     height: auto !important;
 }

.btn-menu{
    margin: 40px 0px 0px 8px;
}

.notify-active{
    padding-top: 4px;
    padding-bottom: 4px;
    background: #b2f2b2;
}

.notify{
    padding-top: 4px;
    padding-bottom: 4px;
    background: rgb(255, 255, 255);
}

/******์Start Notification modify ******/

.notify {
    padding-top: 0px;
    padding-bottom: 0px;
}

.notify-active {
    padding-top: 0px;
    padding-bottom: 0px;
}

.dropdown-alerts {
    height: 500px;
    overflow: hidden;
}

.dropdown-alerts:hover {
    overflow-y: scroll;
}

.scroll1::-webkit-scrollbar {
    width: 5px;
}

.scroll1::-webkit-scrollbar-track {
    background: #ddd;
}

.scroll1::-webkit-scrollbar-thumb {
    background: #666;
}

.sticky-bot {
    position: sticky;
    bottom: 0;
    background: #337ab7;
    padding: 10px;
    z-index: 1000;
}

.fa-notify {
    font-size: 1.5em;
}

.panel-body-notify {
    height: 700px;
    overflow: hidden;
    padding: 0px;
}

.panel-body-notify:hover {
    overflow-y: scroll;
}

.panel-notify {
    min-height: 0px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.panel-notify-success>.panel-heading {
    color: #ffffff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.panel-notify-success>.panel-heading a {
    color: #ffffff;
}

.panel-notify-warning>.panel-heading {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.panel-notify-warning>.panel-heading a {
    color: #fff;
}

.panel-notify-info>.panel-heading {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.panel-notify-info>.panel-heading a {
    color: #fff;
}

.panel-notify-danger>.panel-heading {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.panel-notify-danger>.panel-heading a {
    color: #fff;
}

.panel-notify-primary>.panel-heading {
    background-color: #337ab7;
    border-color: #2e6da4;
    /* color: #fff; */
}

.panel-notify-primary>.panel-heading a {
    color: #fff;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

.see_all {
    color: white !important;
    width: 100%;
}

.see_all:focus,
.see_all:hover {
    color: white !important;
    text-decoration: none;
    background-color: #337ab7 !important;
}

/******์End Notification******/



.alert{
    position: absolute;
    background: rgb(247, 15, 15);
    color: white;
    border-radius: 4px;
    top:12px;
    right:24px;
    padding: 0px !important;
}

.divider{
    
    margin: 0px !important;
}

.navbar-default .navbar-brand {
    color: #01245D;
}

.navbar-default{
    background-color: #c5dcf3 !important;
}

.nav>li:active > a:hover{
    color: #ccc; 
    background-color: #01245D !important;
}

.nav>li> a{
    color: #01245D ;  
}

.nav>li> a:hover{
    color: #ccc; 
    background-color: #01245D;
}

.nav>li.active > a{
    color: #ccc; 
    background-color: #01245D;
}


.nav>li.active > a.tabs{
    color:#01245D !important; 
    background-color: #ffffff !important;
}

.nav>li>ul>li>a {
    position: relative;
    display: block;
    padding: 10px 24px;
    text-decoration: none;
    font-size: 12px;
    color:#01245D !important; 
}

.nav>li>ul{
    list-style: none;
    padding:0px;
}

.nav>li>ul>li>ul>li>a {
    position: relative;
    display: block;
    padding: 10px 48px;
    text-decoration: none;
    font-size: 12px;
    color:#01245D !important;
}

.nav>li>ul>li>ul{
    list-style: none;
    padding:0px;
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.easy-autocomplete {
    width: 100% !important;
}